<div class="container mt-4">
    <h2 class="text-center">Applicants for this Job</h2>

    <% if (applicants.length == 0) { %>
        <p class="text-center text-danger">No applicants yet.</p>
    <% } else { %>
        <table class="table table-bordered text-center mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Resume</th>
                </tr>
            </thead>
            <tbody>
                <% applicants.forEach(jobSeeker => { %>
                    <tr>
                        <td><%= jobSeeker.name %></td>
                        <td><%= jobSeeker.email %></td>
                        <td><%= jobSeeker.contact %></td>
                        <td>
                            <a href="<%= jobSeeker.resume %>" target="_blank">View Resume</a>
                            View Resume
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</div>
