<% if (!session) { %>
<main>
  <!-- here in main section we have two divs one is for description and another is for the button -->
  <div class="main">
    <h1>A comprehensive platform for reliable</h1>
    <p class="text">Job opportunities and internships</p>
    <p class="text">Get Discovered and Get Hired.</p>
    <div class="btn">
      <button class="seeker"><a href="/jobPosting">I'm A Job Seeker</a></button>
      <button class="recruiter">
        <a href="/registrationForm">I'm A Recruiter</a>
      </button>
    </div>
  </div>
</main>
<% } %>
